<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSMotionUsageDescription</key>
	<string>GameKeeper uses the device's motion sensors to detect shake gestures, allowing you to roll dice by shaking your device in the Dice Roller feature.</string>
</dict>
</plist>
