name: Build Android APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        env:
          VERSION_TAG: "debug-${{ github.sha }}"
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)
          export VERSION_TAG="debug-$SHORT_SHA"
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: composeApp/build/outputs/apk/debug/composeApp-debug.apk